<!--== Start Hero Area Wrapper ==-->
<section class="home-slider-area">
  <div class="home-slider-container default-slider-container">
    <div class="home-slider-wrapper slider-default">
      <div
        class="slider-content-area"
        data-bg-img="files/img/slider/slider-bg.webp"
      >
        <div class="container pt--0 pb--0">
          <div class="slider-container">
            <div class="row justify-content-center align-items-center">
              <div class="col-12 col-lg-8">
                <div class="slider-content">
                  <h2 class="title">
                    <span class="counter" data-counterup-delay="80" data-inline-editable>2,568</span>
                    job available <br />You can choose your dream job
                  </h2>
                  <p class="desc" data-inline-editable>
                    Find great job for build your bright career. Have many job
                    in this plactform.
                  </p>
                </div>
              </div>
              <div class="col-12">
                <div class="job-search-wrap">
                  <div class="job-search-form">
                    <form action="/jobs">
                      <div class="row row-gutter-10">
                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1">
                          <div class="form-group">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Job title or keywords"
                            />
                          </div>
                        </div>
                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1">
                          <div class="form-group">
                            <select class="form-control">
                              <option value="1" selected>Choose City</option>
                              <option value="2">New York</option>
                              <option value="3">California</option>
                              <option value="4">Illinois</option>
                              <option value="5">Texas</option>
                              <option value="6">Florida</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1">
                          <div class="form-group">
                            <select class="form-control">
                              <option value="1" selected>Category</option>
                              <option value="2">Web Designer</option>
                              <option value="3">Web Developer</option>
                              <option value="4">Graphic Designer</option>
                              <option value="5">App Developer</option>
                              <option value="6">UI &amp; UX Expert</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1">
                          <div class="form-group">
                            <button type="button" class="btn-form-search">
                              <i class="icofont-search-1"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt--0 pb--0">
    <div class="row">
      <div class="col-12">
        <div class="play-video-btn">
          <a href="https://www.youtube.com/mcvqOUtcAJg" class="video-popup">
            <img src="files/img/icons/play.webp" alt="Image-HasTech" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-slider-shape">
    <img
      class="shape1"
      data-aos2="fade-down"
      data-aos2-duration="1500"
      src="files/img/slider/vector1.webp"
      width="270"
      height="234"
      alt="Image-HasTech"
    />
    <img
      class="shape2"
      data-aos2="fade-left"
      data-aos2-duration="2000"
      src="files/img/slider/vector2.webp"
      width="201"
      height="346"
      alt="Image-HasTech"
    />
    <img
      class="shape3"
      data-aos2="fade-right"
      data-aos2-duration="2000"
      src="files/img/slider/vector3.webp"
      width="276"
      height="432"
      alt="Image-HasTech"
    />
    <img
      class="shape4"
      data-aos2="flip-left"
      data-aos2-duration="1500"
      src="files/img/slider/vector4.webp"
      width="127"
      height="121"
      alt="Image-HasTech"
    />
  </div>
</section>
<!--== End Hero Area Wrapper ==-->
