<!--== Start Work Process Area Wrapper ==-->
<section class="work-process-area">
  <div class="container" data-aos2="fade-down">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h3 class="title">How It Work?</h3>
          <div class="desc">
            <p>Many desktop publishing packages and web page editors</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="working-process-content-wrap">
          <div class="working-col">
            <!--== Start Work Process ==-->
            <div class="working-process-item">
              <div class="icon-box">
                <div class="inner">
                  <img
                    class="icon-img"
                    src="files/img/icons/w1.webp"
                    alt="Image-HasTech"
                  />
                  <img
                    class="icon-hover"
                    src="files/img/icons/w1-hover.webp"
                    alt="Image-HasTech"
                  />
                </div>
              </div>
              <div class="content">
                <h4 class="title">Create an Account</h4>
                <p class="desc">
                  It is long established fact reader distracted readable content
                </p>
              </div>
              <div class="shape-arrow-icon">
                <img
                  class="shape-icon"
                  src="files/img/icons/right-arrow.webp"
                  alt="Image-HasTech"
                />
                <img
                  class="shape-icon-hover"
                  src="files/img/icons/right-arrow2.webp"
                  alt="Image-HasTech"
                />
              </div>
            </div>
            <!--== End Work Process ==-->
          </div>
          <div class="working-col">
            <!--== Start Work Process ==-->
            <div class="working-process-item">
              <div class="icon-box">
                <div class="inner">
                  <img
                    class="icon-img"
                    src="files/img/icons/w2.webp"
                    alt="Image-HasTech"
                  />
                  <img
                    class="icon-hover"
                    src="files/img/icons/w2-hover.webp"
                    alt="Image-HasTech"
                  />
                </div>
              </div>
              <div class="content">
                <h4 class="title">CV/Resume</h4>
                <p class="desc">
                  It is long established fact reader distracted readable content
                </p>
              </div>
              <div class="shape-arrow-icon">
                <img
                  class="shape-icon"
                  src="files/img/icons/right-arrow.webp"
                  alt="Image-HasTech"
                />
                <img
                  class="shape-icon-hover"
                  src="files/img/icons/right-arrow2.webp"
                  alt="Image-HasTech"
                />
              </div>
            </div>
            <!--== End Work Process ==-->
          </div>
          <div class="working-col">
            <!--== Start Work Process ==-->
            <div class="working-process-item">
              <div class="icon-box">
                <div class="inner">
                  <img
                    class="icon-img"
                    src="files/img/icons/w3.webp"
                    alt="Image-HasTech"
                  />
                  <img
                    class="icon-hover"
                    src="files/img/icons/w3-hover.webp"
                    alt="Image-HasTech"
                  />
                </div>
              </div>
              <div class="content">
                <h4 class="title">Find Your Job</h4>
                <p class="desc">
                  It is long established fact reader distracted readable content
                </p>
              </div>
              <div class="shape-arrow-icon">
                <img
                  class="shape-icon"
                  src="files/img/icons/right-arrow.webp"
                  alt="Image-HasTech"
                />
                <img
                  class="shape-icon-hover"
                  src="files/img/icons/right-arrow2.webp"
                  alt="Image-HasTech"
                />
              </div>
            </div>
            <!--== End Work Process ==-->
          </div>
          <div class="working-col">
            <!--== Start Work Process ==-->
            <div class="working-process-item">
              <div class="icon-box">
                <div class="inner">
                  <img
                    class="icon-img"
                    src="files/img/icons/w4.webp"
                    alt="Image-HasTech"
                  />
                  <img
                    class="icon-hover"
                    src="files/img/icons/w4-hover.webp"
                    alt="Image-HasTech"
                  />
                </div>
              </div>
              <div class="content">
                <h4 class="title">Save & Apply</h4>
                <p class="desc">
                  It is long established fact reader distracted readable content
                </p>
              </div>
              <div class="shape-arrow-icon d-none">
                <img
                  class="shape-icon"
                  src="files/img/icons/right-arrow.webp"
                  alt="Image-HasTech"
                />
                <img
                  class="shape-icon-hover"
                  src="files/img/icons/right-arrow2.webp"
                  alt="Image-HasTech"
                />
              </div>
            </div>
            <!--== End Work Process ==-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--== End Work Process Area Wrapper ==-->
