<!--== Start Divider Area Wrapper ==-->
<section
  class="sec-overlay sec-overlay-theme bg-img"
  data-bg-img="files/img/photos/bg1.webp"
>
  <div class="container pt--0 pb--0">
    <div class="row justify-content-center divider-style1">
      <div class="col-lg-10 col-xl-7">
        <div class="divider-content text-center">
          <h4 class="sub-title" data-aos2="fade-down">
            Trial Version Available
          </h4>
          <h2 class="title" data-aos2="fade-down">
            Download Our Mobile App. <br />You Can Ready Resume & Apply Job.
          </h2>
          <div class="divider-btn-group">
            <a
              class="btn-divider"
              data-aos2="fade-down"
              href="page-not-found.html"
            >
              <img
                src="files/img/photos/google-play.webp"
                width="201"
                height="63"
                class="icon"
                alt="Image-HasTech"
              />
            </a>
            <a
              class="btn-divider btn-divider-app-store"
              data-aos2="fade-down"
              href="page-not-found.html"
            >
              <img
                src="files/img/photos/mac-os.webp"
                width="201"
                height="63"
                class="icon"
                alt="Image-HasTech"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-layer-style1"></div>
  <div class="bg-layer-style2"></div>
</section>
<!--== End Divider Area Wrapper ==-->
