<!--== Start Brand Logo Area Wrapper ==-->
<div class="brand-logo-area">
  <div class="container pt--0 pb--0" data-aos2="fade-down">
    <div class="row">
      <div class="col-12">
        <div class="brand-logo-content">
          <div class="swiper brand-logo-slider-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <!--== Start Brand Logo Item ==-->
                <div class="brand-logo-item">
                  <img src="files/img/brand-logo/1.webp" alt="Image-HasTech" />
                </div>
                <!--== End Brand Logo Item ==-->
              </div>
              <div class="swiper-slide">
                <!--== Start Brand Logo Item ==-->
                <div class="brand-logo-item">
                  <img src="files/img/brand-logo/2.webp" alt="Image-HasTech" />
                </div>
                <!--== End Brand Logo Item ==-->
              </div>
              <div class="swiper-slide">
                <!--== Start Brand Logo Item ==-->
                <div class="brand-logo-item">
                  <img src="files/img/brand-logo/3.webp" alt="Image-HasTech" />
                </div>
                <!--== End Brand Logo Item ==-->
              </div>
              <div class="swiper-slide">
                <!--== Start Brand Logo Item ==-->
                <div class="brand-logo-item">
                  <img src="files/img/brand-logo/4.webp" alt="Image-HasTech" />
                </div>
                <!--== End Brand Logo Item ==-->
              </div>
              <div class="swiper-slide">
                <!--== Start Brand Logo Item ==-->
                <div class="brand-logo-item">
                  <img src="files/img/brand-logo/5.webp" alt="Image-HasTech" />
                </div>
                <!--== End Brand Logo Item ==-->
              </div>
              <div class="swiper-slide">
                <!--== Start Brand Logo Item ==-->
                <div class="brand-logo-item">
                  <img src="files/img/brand-logo/6.webp" alt="Image-HasTech" />
                </div>
                <!--== End Brand Logo Item ==-->
              </div>
              <div class="swiper-slide">
                <!--== Start Brand Logo Item ==-->
                <div class="brand-logo-item">
                  <img src="files/img/brand-logo/1.webp" alt="Image-HasTech" />
                </div>
                <!--== End Brand Logo Item ==-->
              </div>
            </div>
          </div>
          <!--== Add Swiper Arrows ==-->
          <div class="swiper-btn-wrap">
            <div class="brand-swiper-btn-prev">
              <i class="icofont-long-arrow-left"></i>
            </div>
            <div class="brand-swiper-btn-next">
              <i class="icofont-long-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--== End Brand Logo Area Wrapper ==-->
