<!--== Start Testimonial Area Wrapper ==-->
<section class="testimonial-area bg-color-gray">
  <div class="container" data-aos2="fade-down">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h3 class="title">Our Happy Clients</h3>
          <div class="desc">
            <p>Many desktop publishing packages and web page editors</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper testi-slider-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!--== Start Testimonial Item ==-->
              <div class="testimonial-item">
                <div class="testi-inner-content">
                  <div class="testi-author">
                    <div class="testi-thumb">
                      <img
                        src="files/img/testimonial/1.webp"
                        width="75"
                        height="75"
                        alt="Image-HasTech"
                      />
                    </div>
                    <div class="testi-info">
                      <h4 class="name">Roselia Hamets</h4>
                      <span class="designation">Hiring Manager</span>
                    </div>
                  </div>
                  <div class="testi-content">
                    <p class="desc">
                      It is a long established fact that reader will distracted
                      the readable content page looking at its layout point
                      using that has more-or-less normal distribution of letters
                      opposed using content making.
                    </p>
                    <div class="rating-box">
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                    </div>
                    <div class="testi-quote">
                      <img
                        src="files/img/icons/quote1.webp"
                        alt="Image-HasTech"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!--== End Testimonial Item ==-->
            </div>
            <div class="swiper-slide">
              <!--== Start Testimonial Item ==-->
              <div class="testimonial-item">
                <div class="testi-inner-content">
                  <div class="testi-author">
                    <div class="testi-thumb">
                      <img
                        src="files/img/testimonial/2.webp"
                        width="75"
                        height="75"
                        alt="Image-HasTech"
                      />
                    </div>
                    <div class="testi-info">
                      <h4 class="name">Assunta Manson</h4>
                      <span class="designation">Hiring Manager</span>
                    </div>
                  </div>
                  <div class="testi-content">
                    <p class="desc">
                      It is a long established fact that reader will distracted
                      the readable content page looking at its layout point
                      using that has more-or-less normal distribution of letters
                      opposed using content making.
                    </p>
                    <div class="rating-box">
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                    </div>
                    <div class="testi-quote">
                      <img
                        src="files/img/icons/quote1.webp"
                        alt="Image-HasTech"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!--== End Testimonial Item ==-->
            </div>
            <div class="swiper-slide">
              <!--== Start Testimonial Item ==-->
              <div class="testimonial-item">
                <div class="testi-inner-content">
                  <div class="testi-author">
                    <div class="testi-thumb">
                      <img
                        src="files/img/testimonial/3.webp"
                        width="75"
                        height="75"
                        alt="Image-HasTech"
                      />
                    </div>
                    <div class="testi-info">
                      <h4 class="name">Amira Shepard</h4>
                      <span class="designation">Hiring Manager</span>
                    </div>
                  </div>
                  <div class="testi-content">
                    <p class="desc">
                      It is a long established fact that reader will distracted
                      the readable content page looking at its layout point
                      using that has more-or-less normal distribution of letters
                      opposed using content making.
                    </p>
                    <div class="rating-box">
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                    </div>
                    <div class="testi-quote">
                      <img
                        src="files/img/icons/quote1.webp"
                        alt="Image-HasTech"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!--== End Testimonial Item ==-->
            </div>
            <div class="swiper-slide">
              <!--== Start Testimonial Item ==-->
              <div class="testimonial-item">
                <div class="testi-inner-content">
                  <div class="testi-author">
                    <div class="testi-thumb">
                      <img
                        src="files/img/testimonial/4.webp"
                        width="75"
                        height="75"
                        alt="Image-HasTech"
                      />
                    </div>
                    <div class="testi-info">
                      <h4 class="name">Joshua George</h4>
                      <span class="designation">Hiring Manager</span>
                    </div>
                  </div>
                  <div class="testi-content">
                    <p class="desc">
                      It is a long established fact that reader will distracted
                      the readable content page looking at its layout point
                      using that has more-or-less normal distribution of letters
                      opposed using content making.
                    </p>
                    <div class="rating-box">
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                    </div>
                    <div class="testi-quote">
                      <img
                        src="files/img/icons/quote1.webp"
                        alt="Image-HasTech"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!--== End Testimonial Item ==-->
            </div>
            <div class="swiper-slide">
              <!--== Start Testimonial Item ==-->
              <div class="testimonial-item">
                <div class="testi-inner-content">
                  <div class="testi-author">
                    <div class="testi-thumb">
                      <img
                        src="files/img/testimonial/5.webp"
                        width="75"
                        height="75"
                        alt="Image-HasTech"
                      />
                    </div>
                    <div class="testi-info">
                      <h4 class="name">Rosie Patton</h4>
                      <span class="designation">Hiring Manager</span>
                    </div>
                  </div>
                  <div class="testi-content">
                    <p class="desc">
                      It is a long established fact that reader will distracted
                      the readable content page looking at its layout point
                      using that has more-or-less normal distribution of letters
                      opposed using content making.
                    </p>
                    <div class="rating-box">
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                      <i class="icofont-star"></i>
                    </div>
                    <div class="testi-quote">
                      <img
                        src="files/img/icons/quote1.webp"
                        alt="Image-HasTech"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!--== End Testimonial Item ==-->
            </div>
          </div>

          <!--== Add Swiper Pagination ==-->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--== End Testimonial Area Wrapper ==-->
