<!--wrapper start-->
<div class="wrapper" style="position: relative">
  <!--== Start Header Wrapper ==-->
  <header class="header-area transparent">
    <div class="container">
      <div class="row no-gutter align-items-center position-relative">
        <div class="col-12">
          <div class="header-align">
            <div class="header-align-start">
              <div class="header-logo-area">
                <a href="/">
                  <img
                    class="logo-main"
                    src="files/img/logo-light.webp"
                    alt="Logo"
                  />
                  <img
                    class="logo-light"
                    src="files/img/logo-light.webp"
                    alt="Logo"
                  />
                </a>
              </div>
            </div>
            <div class="header-align-center">
              <div class="header-navigation-area position-relative">
                <ul class="main-menu nav">
                  <li><a href="/"><span>Home</span></a></li>
                  <li><a href="/jobs"><span>Jobs</span></a></li>
                  <li><a href="blog">Blog</a></li>
                  <li><a href="/about-us"><span>About us</span></a></li>
                  <li><a href="/contact"><span>Contact Us</span></a></li>
                </ul>
              </div>
            </div>
            <div class="header-align-end">
              <div class="header-action-area">
                <button
                  class="btn-menu"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#AsideOffcanvasMenu"
                  aria-controls="AsideOffcanvasMenu"
                >
                  <i class="icofont-navigation-menu"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--== End Header Wrapper ==-->

  <main class="main-content">
    <PluginsSection fluentcms Name="Main" />
  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area">
    <!--== Start Footer Main ==-->
    <div class="footer-main">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="widget-item widget-about">
              <div class="widget-logo-area">
                <a href="/">
                  <img
                    class="logo-main"
                    src="files/img/logo-light-theme.webp"
                    alt="Logo"
                  />
                </a>
              </div>
              <p class="desc">
                That necessitat ecommerce platform that optimi your store
                popularised the release
              </p>
              <div class="social-icons">
                <a
                  href="https://www.facebook.com"
                  target="_blank"
                  rel="noopener"
                >
                  <i class="icofont-facebook"></i>
                </a>
                <a href="https://www.skype.com" target="_blank" rel="noopener">
                  <i class="icofont-skype"></i>
                </a>
                <a href="https://twitter.com" target="_blank" rel="noopener">
                  <i class="icofont-twitter"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-md-3 col-lg-3">
                <div class="widget-item nav-menu-item1">
                  <h4 class="widget-title">Company</h4>
                  <h4
                    class="widget-collapsed-title collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#widgetId-1"
                  >
                    Company
                  </h4>
                  <div id="widgetId-1" class="collapse widget-collapse-body">
                    <div class="collapse-body">
                      <div class="widget-menu-wrap">
                        <ul class="nav-menu">
                          <li><a href="/about-us">About Us</a></li>
                          <li><a href="/contact">Contact With Us</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <div class="widget-item nav-menu-item2">
                  <h4 class="widget-title">Resources</h4>
                  <h4
                    class="widget-collapsed-title collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#widgetId-2"
                  >
                    Resources
                  </h4>
                  <div id="widgetId-2" class="collapse widget-collapse-body">
                    <div class="collapse-body">
                      <div class="widget-menu-wrap">
                        <ul class="nav-menu">
                          <li><a href="/jobs">Jobs Listing</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <div class="widget-item nav-menu-item3">
                  <h4 class="widget-title">Legal</h4>
                  <h4
                    class="widget-collapsed-title collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#widgetId-3"
                  >
                    Legal
                  </h4>
                  <div id="widgetId-3" class="collapse widget-collapse-body">
                    <div class="collapse-body">
                      <div class="widget-menu-wrap">
                        <ul class="nav-menu">
                          <li><a href="/blog">Blog</a></li>
                          <li><a href="/jobs">Careers</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <div class="widget-item nav-menu-item4">
                  <h4 class="widget-title">Products</h4>
                  <h4
                    class="widget-collapsed-title collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#widgetId-4"
                  >
                    Products
                  </h4>
                  <div id="widgetId-4" class="collapse widget-collapse-body">
                    <div class="collapse-body">
                      <div class="widget-menu-wrap">
                        <ul class="nav-menu">
                          <li><a href="/about-us">How It Works</a></li>
                          <li><a href="/about-us">Price & Planing</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Main ==-->

    <!--== Start Footer Bottom ==-->
    <div class="footer-bottom">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-content">
              <p class="copyright">© 2024 FluentCMS.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Bottom ==-->
  </footer>
  <!--== End Footer Area Wrapper ==-->

  <!--== Start Aside Menu ==-->
  <aside
    class="off-canvas-wrapper offcanvas offcanvas-start"
    tabindex="-1"
    id="AsideOffcanvasMenu"
    aria-labelledby="offcanvasExampleLabel"
  >
    <div class="offcanvas-header">
      <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
      <button
        class="btn-menu-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      >
        menu <i class="icofont-simple-left"></i>
      </button>
    </div>
    <div class="offcanvas-body">
      <!-- Mobile Menu Start -->
      <div class="mobile-menu-items">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="blog">Blo</a></li>
          <li><a href="/about-us">About us</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <!-- Mobile Menu End -->
    </div>
  </aside>
  <!--== End Aside Menu ==-->
</div>

<!--=======================Javascript============================-->

<!--=== jQuery Modernizr Min Js ===-->
<script src="files/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="files/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="files/js/jquery-migrate.js"></script>
<!--=== jQuery Popper Min Js ===-->
<script src="files/js/popper.min.js"></script>
<!--=== jQuery Bootstrap Min Js ===-->
<script src="files/js/bootstrap.min.js"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="files/js/swiper.min.js"></script>
<!--=== jQuery Fancybox Min Js ===-->
<script src="files/js/fancybox.min.js"></script>
<!--=== jQuery Aos Min Js ===-->
<script src="files/js/aos.min.js"></script>
<!--=== jQuery Counterup Min Js ===-->
<script src="files/js/counterup.js"></script>
<!--=== jQuery Waypoint Js ===-->
<script src="files/js/waypoint.js"></script>

<!--=== jQuery Custom Js ===-->
<script src="files/js/custom.js"></script>
